.donate {
    .add {
        // position: fixed;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 0;
        height: 100vh;
        color: #e7e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
        .pop-up {
            width: 70%;
            height: auto;
            position: relative;
            background-color: #fff;
            color: #000;
            border-radius: 3rem;
            display: flex;
            justify-content: stretch;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            .pop-up-bar {
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;
                // background-color: red;
                flex: 1;
                width: 100%;
                direction: ltr;
                margin-bottom: 2rem;
                &::after {
                    content: '';
                    position: absolute;
                    width: 150%;
                    height: 2px;
                    background-color: #e7e6e6;
                    top: 6.5rem;
                    right: -10%
                }
                .close {
                    // position: absolute;
                    // top: 1.5rem;
                    // left: 4rem;
                    height: 100%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                        .img {
                            background-color: #f74a4a;
                        }
                    }
                    .img {
                        transition: all 0.2s ease-in-out;
                        padding: 0.7rem 0.7rem 0 0.7rem;
                        border: 2px solid #e7e6e6;
                        border-radius: 50%;
                        background-color: #e7e6e6;
                    }
                    flex: 1;
                    // background-color: red;
                }
                .header {
                    // position: absolute;
                    // left: 0;
                    // top: 0;
                    flex: 10;
                    text-align: center;
                    // background-color: royalblue;
                    h3 {
                        font-size: 3rem;
                        padding: 0.5rem 3rem;
                        border-radius: 2rem 2rem 0 0;
                        background-color: transparent;
                        color: #000;
                        font-weight: normal;
                    }
                }
            }
            .center {
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: blue;
                flex: 8;
                width: 100%;
                margin-bottom: 2rem;
                .form {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background-color: blue;
                    form {
                        height: 90%;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        flex-wrap: wrap;
                        flex-direction: column;
                        // background-color: blue;
                        .inputs {
                            width: 100%;
                            // background-color: red;
                            display: flex;
                            justify-content: space-between;
                            // align-items: flex-end;
                            flex-wrap: wrap;
                            flex: 2;
                            margin-bottom: 3rem;
                            input,
                            textarea,
                            select {
                                background-color: #F0F2F5;
                                text-align: right;
                                margin-top: 0;
                            }
                            label {
                                font-weight: 500;
                            }
                        }
                        // background-color: red;
                        // padding-top: 5rem;
                        .button {
                            flex: 1;
                            display: flex;
                            // justify-content: center;
                            align-items: center;
                            button {
                                // height: 50%;
                                border-radius: 4rem;
                                font-size: 2rem;
                                padding: 0.5rem 4rem;
                                &:hover {
                                    transform: scale(1.03);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
