<div class="control">
    <div class="container">
        <ul>
            <li (click)='add()' *ngIf="!error">
                <span> اضافة دواء </span>
                <i class="fas fa-plus"></i>
            </li>
        </ul>
    </div>
</div>
<div class="add rtl" *ngIf="addClicked">
    <div class="pop-up">
        <div class="pop-up-bar">
            <div class="close" (click)='desAdd()'>
                <div class="img">
                    <img src="../../assets/icons/close.svg" alt="close">
                </div>
            </div>
            <div class="header">
                <h3>اضافة دواء</h3>
            </div>
        </div>
        <div class="center">
            <div class="form">
                <form action="" [formGroup]='disForm' (ngSubmit)='submitForm(disForm)'>
                    <div class="inputs">
                        <div class="snigle-input">
                            <label for="">اسم الدواء</label>
                            <input formControlName='name' type="text">
                        </div>
                        <div class="snigle-input">
                            <label for=""> التعليمات</label>
                            <textarea formControlName='instructions' cols="" rows="1"></textarea>
                        </div>
                        <div class="snigle-input">
                            <label for=""> بداية التعاطي</label>
                            <input formControlName='startDate' type="date">

                        </div>
                        <div class="snigle-input">
                            <label for=""> نهاية التعاطي</label>
                            <input formControlName='endDate' type="date">
                        </div>
                    </div>
                    <div class="button">
                        <button class="btn btn-colored">حفظ</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="scroll">

    <div @fade class="medicines section" *ngFor="let med of mData; let i=index;">
        <!-- <h6> {{i+1}}</h6> -->
        <div class="banner"></div>
        <div class="m-data">
            <div class="single-data">
                <span> إسم الدواء  </span>
                <span>{{med.name}}</span>
            </div>
            <div class="single-data">
                <span>  التعليمات  </span>
                <span>{{med.instructions}}</span>
            </div>
            <div class="single-data">
                <span>  بداية التعاطي  </span>
                <span>{{med.startDate | date :'short'}} </span>
            </div>
            <div class="single-data">
                <span>  نهاية التعاطي  </span>
                <span>{{med.endDate | date :'short'}}</span>
            </div>
        </div>
        <div class="control">

            <ul>
                <li (click)='delete(med.id)'>
                    <i class="fas fa-trash"></i>
                    <span> حذف  </span>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="patient-err" *ngIf="error">
    <p> يجب اضافة فصيلة الدم لتتمكن من اضافة دواء</p>
</div>

<div class="patient-err" *ngIf="!mData?.length  && !error">
    <p> لا يوجد</p>
</div>
