<div class="header">
    <li *ngIf="!pErr">
        <div class="search">
            <div class="container">
                <div class="input">

                    <input type="number" placeholder="ابحث عن طريق الرقم القومي " [(ngModel)]="ssn" (keyup)='patientSearch($event)'>
                    <a (click)='navigate()'>
                        <i class="fas fa-search "></i>
                    </a>

                </div>
            </div>
        </div>
    </li>
    <!-- <div class="app-bar">
        <div class="container">
            <div class="links">
                <ul>
                    <ul>
                        <li>
                            <a routerLink="/login">
                                <span>خروج</span>
                                <span><i class="fas fa-sign-out-alt"></i></span>
                            </a>
                        </li>
                        <li>اسم المستشفي</li>
                        <li>
                            <div class="control">

                                <ul>
                                    <li>
                                        <span>تبرع</span>
                                        <span><i class="fas fa-hand-holding-medical"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="control">

                                <ul>
                                    <li (click)='add()'>
                                        <span> اضافة مريض جديد  </span>
                                        <i class="fas fa-plus"></i>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li *ngIf="!pErr">
                            <div class="search">
                                <div class="container">
                                    <div class="input">
                                        <input type="number" placeholder="ابحث عن طريق الرقم القومي " [(ngModel)]="ssn" (keyup)='patientSearch($event)'>
                                        <a (click)='navigate()'>
                                            <i class="fas fa-search "></i>
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </li>

                        <li>
                            <div class="logo" [routerLink]="'/home'">
                                <img src="../../assets/images/logo2bg.png" alt="medical care">
                                <div class="egycare">
                                    <h1>egycare</h1>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div> -->
</div>
<div class="patient" *ngIf="!pErr">
    <div class="container">
        <div class="patient-data">
            <nav>
                <div class="links">
                    <ul>
                        <li routerLink="personal" routerLinkActive="active-link">
                            <i class="fas fa-user"></i>
                            <span>البيانات الشخصية</span>
                        </li>
                        <li routerLink="diseases" routerLinkActive="active-link">
                            <i class="fas fa-head-side-cough"></i>
                            <span>الأمراض</span>
                        </li>
                        <li routerLink="medicines" routerLinkActive="active-link">
                            <i class="fas fa-pills"></i>
                            <span>الأدوية</span>
                        </li>

                        <li routerLink="operations" routerLinkActive="active-link">
                            <i class="fas fa-screwdriver"></i>
                            <span>العمليات</span>
                        </li>

                        <li routerLink="tests" routerLinkActive="active-link">
                            <i class="fas fa-stethoscope"></i>
                            <span>التحاليل</span>
                        </li>
                        <li routerLink="sensitivities" routerLinkActive="active-link">
                            <i class="fas fa-diagnoses"></i>
                            <span>الحساسيات</span>
                        </li>
                    </ul>
                </div>

            </nav>
            <div @fade class="data" *ngIf="!pErr">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div class="patient-err" *ngIf="pErr">
    <div class="search">
        <div class="container">
            <div class="input">
                <input type="number" placeholder="ابحث  بواسطة الرقم القومي " [(ngModel)]="ssn" (keyup)='patientSearch($event)'>
                <a *ngIf='ssn' (click)='navigate()'>
                    <span>بحث</span>
                    <i class="fas fa-search "></i>
                </a>

            </div>
        </div>
    </div>
    <p>هذا المريض <span>({{pSsn}})</span> ليس لديه اي بيانات </p>


</div>


<div class="add rtl" *ngIf="addClicked">
    <div class="pop-up">
        <div class="pop-up-bar">
            <div class="close">
                <div class="img">
                    <img src="../../assets/icons/close.svg" alt="close" (click)='desAdd()'>
                </div>
            </div>
            <div class="header">
                <h3>اضافة مريض</h3>
            </div>
        </div>
        <div class="center">
            <div class="form">
                <form action="" [formGroup]='patientForm' (ngSubmit)='submitForm(patientForm)'>
                    <div class="inputs">
                        <div class="snigle-input">
                            <label for="">اسم المريض</label>
                            <input formControlName='fullName' type="text">
                        </div>
                        <div class="snigle-input">
                            <label for=""> تاريخ الميلاد</label>
                            <input formControlName='dateOfBirth' type="date">
                        </div>
                        <div class="snigle-input">
                            <label for=""> الرقم القومي</label>
                            <input formControlName='patientSSN' type="number">
                        </div>
                        <div class="snigle-input">
                            <label for=""> رقم الموبايل</label>
                            <input formControlName='phoneNumber' type="number">
                        </div>
                        <div class="snigle-input">
                            <label for=""> الرقم السري</label>
                            <input formControlName='password' type="password">
                        </div>
                        <div class="snigle-input-gender snigle-input ">
                            <label for=""> النوع</label>
                            <div class="gender">
                                <label for="male">ذكر</label>
                                <input formControlName='gender' type="radio" value="male" id="male">
                            </div>
                            <div class="gender">
                                <label for="male">انثي</label>
                                <input formControlName='gender' type="radio" value="female" id="female">
                            </div>
                        </div>
                        <div class="snigle-input">
                            <label for=""> المدينة</label>
                            <input formControlName='city' type="text">
                        </div>

                        <div class="snigle-input">
                            <label for="">اسم القريب الاول</label>
                            <input formControlName='relativeOneName' type="text">
                        </div>
                        <div class="snigle-input">
                            <label for="">رقمه</label>
                            <input formControlName='relativeOnePhoneNumber' type="number">
                        </div>
                        <div class="snigle-input">
                            <label for="">اسم القريب الثاني</label>
                            <input formControlName='relativeTwoName' type="text">
                        </div>
                        <div class="snigle-input">
                            <label for="">رقمه</label>
                            <input formControlName='relativeTwoPhoneNumber' type="number">
                        </div>

                    </div>
                    <div class="button">
                        <button class="btn btn-colored">حفظ</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
