<!-- <svg width="500" height="500">
  <circle r="150" fill="#F5F5F5" />
</svg>

<div class="body">


    <div class="current">


    </div>
    <div class="current-real">



    </div>
    <div class="body-home">
        <img src="../assets/images/clip-medical-doctor.png" alt="medical care">
    </div>
</div> -->



<!-- <app-home-page></app-home-page> -->
<!-- <app-landing-page></app-landing-page> -->
<!-- <app-log-in></app-log-in> -->
<!-- <app-sign-up></app-sign-up> -->

<router-outlet></router-outlet>