.app-bar {
    .links {
        ul {
            display: flex;
            .non-logo {
                display: flex;
                align-items: center;
                li {
                    margin: 0 2rem;
                }
                // background-color: red;
            }
            .home-logo {
                // background-color: blue;
                cursor: pointer;
                li {
                    cursor: pointer;
                    &:nth-child(1) {
                        background-color: transparent;
                        border-radius: 2rem;
                        // transition: transform 0.2s ease;
                        &:hover {
                            transform: scale(1);
                        }
                    }
                }
            }
            li {
                color: #0080F6;
                &:nth-child(1) {
                    cursor: pointer;
                    padding: 0.5rem 2rem;
                    background-color: #F0F2F5;
                    // flex: 1;
                }
                &:nth-child(2) {
                    cursor: pointer;
                    // flex: 4;
                }
            }
        }
    }
}

section {
    margin-top: 12vh;
}

.search {
    direction: rtl;
    margin-top: 2rem;
    border-radius: 5rem;
    width: 70%;
    margin: 0 auto;
    input {
        width: 100%;
    }
    i {
        font-size: 2rem;
        // margin-left: 2rem;
    }
}

.hospitals {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    direction: rtl;
    .hospital {
        direction: rtl;
        box-shadow: 0.05rem 0.05rem 0.5rem rgba( #000, 0.2);
        padding: 1rem 2rem;
        margin: 2rem 0;
        border-radius: 1rem;
        width: 24%;
        .name {
            // margin: -1rem -2rem;
            text-align: center;
            border: #0080F6 solid 0.3rem;
            border-radius: 1rem;
        }
        .data {
            margin: 2rem 0;
            display: flex;
            align-items: center;
            i {
                margin-left: 1rem;
                color: #0080F6;
            }
        }
        .files {
            display: flex;
            .open-file {
                &:not(:last-child) {
                    margin-left: 1rem;
                }
                .bttn {
                    border: none;
                    outline: none;
                    display: inline-block;
                    // border-radius: 0.5rem;
                    // width: 100%;
                    margin-bottom: 0.5rem;
                    a {
                        text-decoration: none;
                        color: #0080F6;
                        &:hover {
                            color: #0c2d4b;
                        }
                    }
                }
            }
        }
        .cta {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .btn {
                border-radius: 1rem;
                &:not(:last-child) {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .hospitals {
        .hospital {
            width: 32%;
        }
    }
}

@media (max-width:750px) {
    .hospitals {
        .hospital {
            width: 49%;
        }
    }
}

@media (max-width:550px) {
    .hospitals {
        .hospital {
            width: 99%;
        }
    }
}