section {
    margin-top: 12vh;
}

.search {
    direction: rtl;
    margin-top: 2rem;
    border-radius: 5rem;
    width: 70%;
    margin: 0 auto;
    input {
        width: 100%;
    }
    i {
        font-size: 2rem;
        // margin-left: 2rem;
    }
}

.hospitals {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .hospital {
        box-shadow: 0.05rem 0.05rem 0.5rem rgba( #000, 0.2);
        padding: 1rem 2rem;
        margin: 2rem 0;
        border-radius: 1rem;
        width: 24%;
        .name {
            // margin: -1rem -2rem;
            text-align: center;
            border: #0080F6 solid 0.3rem;
            border-radius: 1rem;
        }
        .data {
            margin: 2rem 0;
            display: flex;
            align-items: center;
            i {
                margin-right: 1rem;
                color: #0080F6;
            }
        }
        .files {
            display: flex;
            .open-file {
                &:not(:last-child) {
                    margin-right: 1rem;
                }
                .bttn {
                    border: none;
                    outline: none;
                    display: inline-block;
                    // border-radius: 0.5rem;
                    // width: 100%;
                    margin-bottom: 0.5rem;
                    a {
                        text-decoration: none;
                        color: #0080F6;
                    }
                }
            }
        }
        .cta {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .btn {
                border-radius: 1rem;
                &:not(:last-child) {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .hospitals {
        .hospital {
            width: 32%;
        }
    }
}

@media (max-width:750px) {
    .hospitals {
        .hospital {
            width: 49%;
        }
    }
}

@media (max-width:550px) {
    .hospitals {
        .hospital {
            width: 99%;
        }
    }
}
