<section class="register">
    <div class="container">
        <div class="form">
            <form action="" (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="input">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="اسم المستشفي" formControlName="Name">
                </div>
                <div class="input">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="البريد الالكتروني" formControlName="Email">
                </div>

                <div class="input">
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" placeholder="الرقم السري" formControlName="Password">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="input">
                    <i class="fas fa-map-marker"></i>
                    <input type="text" placeholder="عنوان المستشفي" formControlName="Location">

                </div>
                <div class="input">
                    <i class="fas fa-upload"></i>
                    <input type="file" multiple (change)="uploadFile($event)" formControlName="Files">

                </div>

                <div class="button">
                    <button class="btn btn-colored">دخول</button>
                </div>

                <h4> لديك حساب ؟ <a routerLink="/login"> تسجيل الدخول</a> </h4>

            </form>

            <div class="wall">
                <img class="img" src="../../assets/images/clip-medical-doctor.png" alt="midcal care">
            </div>
        </div>
    </div>
</section>