<section class="register">
    <div class="container">
        <div class="form">
            <form action="" (ngSubmit)="onSubmit()" [formGroup]="form">
                <div class="input">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="اسم المستشفي" formControlName="Name">
                </div>
                <div class="input">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="البريد الالكتروني" formControlName="Email">
                </div>

                <div class="input">
                    <i class="fas fa-unlock-alt"></i>
                    <input id="mysecretpassword" type="password" placeholder="الرقم السري" formControlName="Password" showHideInput>
                    <i class="fas fa-eye" showHideTrigger="mysecretpassword" (click)="toggleIcon($event)"></i>
                </div>
                <div class="input">
                    <i class="fas fa-map-marker"></i>
                    <!-- <input type="text" placeholder="عنوان المستشفي" formControlName="Location"> -->
                    <select formControlName='Location' name="citys" id="city">
                      <option value="">--اختر محافظة--</option>
                      <option value="القاهرة">القاهرة</option>
                      <option value="الاسكندرية">الاسكندرية</option>
                      <option value="الفيوم">الفيوم</option>
                      <option value="الجيزة">الجيزة</option>
                      <option value="بورسعيد">بورسعيد</option>
                      <option value="دمياط">دمياط</option>
                      <option value="الشرقية">الشرقية</option>
                      <option value="الغربية">الغربية</option>
                      <option value="الدقهلية">الدقهلية</option>
                      <option value="المنوفيه">المنوفيه</option>
                      <option value="الوادي الجديد">الوادي الجديد</option>
                      <option value="مطروح">مطروح</option>
                      <option value="شمال سيناء">شمال سيناء</option>
                      <option value="جنوب سيناء">جنوب سيناء</option>
                      <option value="المنيا">المنيا</option>
                      <option value="سوهاج"> سوهاج </option>
                      <option value="اسيوط"> اسيوط </option>
                      <option value="اسوان"> اسوان</option>
                      <option value="قنا"> قنا</option>
                      <option value="الاقصر"> الاقصر</option>
                      <option value="البحر الاحمر"> البحر الاحمر </option>
                      <option value="الإسماعيلية"> الإسماعيلية</option>
                      <option value="بني سويف"> بني سويف</option>
                      <option value="السويس">السويس</option>
                      <option value="القليوبية">القليوبية</option>
                      <option value="البحيرة">البحيرة</option>
                      <option value="كفر الشيخ">كفر الشيخ</option>

                  </select>

                </div>
                <div class="input">
                    <i class="fas fa-upload"></i>
                    <input type="file" multiple (change)="uploadFile($event)" formControlName="Files">

                </div>

                <div class="button">
                    <button class="btn btn-colored">دخول</button>
                </div>

                <h4> لديك حساب ؟ <a routerLink="/login"> تسجيل الدخول</a> </h4>

            </form>

            <div class="wall">
                <img class="img" src="../../assets/images/clip-medical-doctor.png" alt="midcal care">
            </div>
        </div>
    </div>
</section>
