<section class="register">
    <div class="container">
        <div class="form">
            <form action="">
                <div class="input">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="اسم المستشفي">
                </div>
                <div class="input">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="البريد الالكتروني">
                </div>

                <div class="input">
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" placeholder="الرقم السري">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="input">
                    <i class="fas fa-unlock-alt"></i>
                    <input type="password" placeholder="تأكيد الرقم السري">
                    <i class="fas fa-eye"></i>
                </div>
                <div class="button">
                    <button class="btn btn-colored">دخول</button>
                </div>

                <h4> لديك حساب ؟ <a routerLink="/login"> تسجيل الدخول</a> </h4>

            </form>

            <div class="wall">
                <img class="img" src="../../assets/images/clip-medical-doctor.png" alt="midcal care">
            </div>
        </div>
    </div>
</section>
