<div class="control">
    <div class="container">
        <ul>
            <li (click)='add()'>
                <span> اضافة مرض </span>
                <i class="fas fa-plus"></i>
            </li>
        </ul>
    </div>
</div>
<div class="add rtl" *ngIf="addClicked">
    <div class="pop-up">
        <div class="pop-up-bar">
            <div class="close" (click)='desAdd()'>
                <div class="img">
                    <img src="../../assets/icons/close.svg" alt="close">
                </div>
            </div>
            <div class="header">
                <h3>اضافة مرض</h3>
            </div>
        </div>
        <div class="center">
            <div class="form">
                <form action="" [formGroup]='disForm' (ngSubmit)='submitForm(disForm)'>
                    <div class="inputs">
                        <div class="snigle-input">
                            <label for="">اسم المرض</label>
                            <input formControlName='name' type="text">
                        </div>
                        <div class="snigle-input">
                            <label for=""> سبب المرض</label>
                            <textarea formControlName='cause' cols="" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="button">
                        <button class="btn btn-colored">حفظ</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<div class="scroll">
    <div @fade class=" section" *ngFor="let dis of mData;let i=index;">
        <div class="banner"></div>
        <div class="m-data">
            <div class="single-data">
                <span> إسم المرض  </span>
                <span>{{dis.name}}</span>
            </div>
            <div class="single-data">
                <span>  سبب المرض  </span>
                <span>{{dis.cause}}</span>
            </div>
        </div>
        <div class="control">

            <ul>
                <li (click)='delete(dis.id)'>
                    <i class="fas fa-trash"></i>
                    <span> حذف  </span>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="patient-err" *ngIf="error">
    <p> يجب اضافة فصيلة الدم لتتمكن من اضافة مرض</p>
</div>

<div class="patient-err" *ngIf="!mData?.length && !error">
    <p> لا يوجد</p>
</div>