<svg width="500" height="500">
  <circle r="150" fill="#46afb8" />
</svg>
<section class="landing">
    <div class="container">
        <div class="home">
            <div class="home-cta">
                <button class="btn btn-colored" routerLink='/login'>تسجيل دخول</button>
                <button class="btn" routerLink='/signup'>انشاء حساب</button>
            </div>
            <div class="home-img second">
                <img class="test" src="../../assets/images/home.png" alt="midcal care">
            </div>
        </div>
    </div>
</section>