<div class="home-page">
    <div class="app-bar">
        <div class="container">
            <div class="links">
                <ul>
                    <div class="non-logo">
                        <li>
                            <a (click)="logout()">
                                <span>خروج</span>
                                <span><i class="fas fa-sign-out-alt"></i></span>
                            </a>
                        </li>
                        <li> {{hospitalData?.name}}</li>
                        <li>
                            <div class="control">

                                <ul>
                                    <li [routerLink]="'donation'">
                                        <span>تبرع</span>
                                        <span><i class="fas fa-hand-holding-medical"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="control">
                                <ul>
                                    <li [routerLink]="'admin'" *ngIf="0">
                                        <span>عرض المستشفيات</span>
                                        <span><i class="fas fa-hospital-alt"></i></span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="control">

                                <ul>
                                    <li (click)='add()'>
                                        <span> اضافة مريض جديد </span>
                                        <i class="fas fa-plus"></i>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li *ngIf="urlCase">
                            <div class="search">
                                <div class="container">
                                    <div class="input">
                                        <input type="number" placeholder="ابحث عن طريق الرقم القومي " [(ngModel)]="addedSsn" (keyup)='patientSearch($event)'>
                                        <a (click)='navigate()'>
                                            <i class="fas fa-search "></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </li>

                    </div>
                    <div class="home-logo" [routerLink]="'/home/'+ this.hospitalData?.id">
                        <li>
                            <div class="logo">
                                <img src="../../assets/images/logo2bg.png" alt="medical care">
                                <div class="egycare">
                                    <h1>egycare</h1>
                                </div>
                            </div>
                        </li>
                    </div>

                </ul>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>



    <div class="add rtl" *ngIf="addClicked && !addMedical">
        <div class="pop-up">
            <div class="pop-up-bar">
                <div class="close" (click)='desAdd()'>
                    <div class="img">
                        <img src="../../assets/icons/close.svg" alt="close">
                    </div>
                </div>
                <div class="header">
                    <h3>اضافة مريض</h3>
                </div>
            </div>
            <div class="center">
                <div class="form">
                    <form action="" [formGroup]='patientForm' (ngSubmit)='submitForm(patientForm)'>
                        <div class="inputs">
                            <div class="snigle-input">
                                <label for="">اسم المريض</label>
                                <input formControlName='fullName' type="text">
                            </div>
                            <div class="snigle-input">
                                <label for=""> تاريخ الميلاد</label>
                                <input formControlName='dateOfBirth' type="date">
                            </div>
                            <div class="snigle-input">
                                <label for=""> الرقم القومي</label>
                                <input formControlName='patientSSN' type="number">
                            </div>
                            <div class="snigle-input">
                                <label for=""> رقم الموبايل</label>
                                <input formControlName='phoneNumber' type="number">
                            </div>
                            <div class="snigle-input">
                                <label for=""> الرقم السري</label>
                                <input formControlName='password' type="password">
                            </div>
                            <div class="snigle-input-gender snigle-input ">
                                <label for=""> النوع</label>
                                <div class="gender">
                                    <label for="male">ذكر</label>
                                    <input formControlName='gender' type="radio" value="male" id="male">
                                </div>
                                <div class="gender">
                                    <label for="male">انثي</label>
                                    <input formControlName='gender' type="radio" value="female" id="female">
                                </div>
                            </div>
                            <div class="snigle-input">
                                <label for="city"> المحافظة</label>
                                <select formControlName='city' name="citys" id="city">
                  <option selected>--اختر محافظة--</option>
                  <option value="القاهرة">القاهرة</option>
                  <option value="الاسكندرية">الاسكندرية</option>
                  <option value="الفيوم">الفيوم</option>
                  <option value="الجيزة">الجيزة</option>
                  <option value="بورسعيد">بورسعيد</option>
                  <option value="دمياط">دمياط</option>
                  <option value="الشرقية">الشرقية</option>
                  <option value="الغربية">الغربية</option>
                  <option value="الدقهلية">الدقهلية</option>
                  <option value="المنوفيه">المنوفيه</option>
                  <option value="الوادي الجديد">الوادي الجديد</option>
                  <option value="مطروح">مطروح</option>
                  <option value="شمال سيناء">شمال سيناء</option>
                  <option value="جنوب سيناء">جنوب سيناء</option>
                  <option value="المنيا">المنيا</option>
                  <option value="سوهاج"> سوهاج </option>
                  <option value="اسيوط"> اسيوط </option>
                  <option value="اسوان"> اسوان</option>
                  <option value="قنا"> قنا</option>
                  <option value="الاقصر"> الاقصر</option>
                  <option value="البحر الاحمر"> البحر الاحمر </option>
                  <option value="الإسماعيلية"> الإسماعيلية</option>
                  <option value="بني سويف"> بني سويف</option>
                  <option value="السويس">السويس</option>
                  <option value="القليوبية">القليوبية</option>
                  <option value="البحيرة">البحيرة</option>
                  <option value="كفر الشيخ">كفر الشيخ</option>
                </select>
                            </div>
                            <div class="snigle-input o-0">
                                <label for=""> المدينة</label>
                                <input type="text">
                            </div>

                            <div class="snigle-input">
                                <label for="">اسم القريب الاول</label>
                                <input formControlName='relativeOneName' type="text">
                            </div>
                            <div class="snigle-input">
                                <label for="">رقمه</label>
                                <input formControlName='relativeOnePhoneNumber' type="number">
                            </div>
                            <div class="snigle-input">
                                <label for="">اسم القريب الثاني</label>
                                <input formControlName='relativeTwoName' type="text">
                            </div>
                            <div class="snigle-input">
                                <label for="">رقمه</label>
                                <input formControlName='relativeTwoPhoneNumber' type="number">
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn btn-colored">حفظ</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="add rtl medical" *ngIf="addMedical">
        <div class="pop-up">
            <div class="pop-up-bar">
                <div class="close">
                    <div class="img">
                        <img src="../../assets/icons/close.svg" alt="close" (click)='desAddMedical()'>
                    </div>
                </div>
                <div class="header">
                    <h3>اضافة فصيلة الدم</h3>
                </div>
            </div>
            <div class="center">
                <div class="form">
                    <form action="" [formGroup]='medicalForm' (ngSubmit)='submitMedical(medicalForm)'>
                        <div class="inputs">
                            <div class="snigle-input">
                                <!--  -->
                                <label for="blood"> فصيلة الدم </label>
                                <select formControlName='bloodType' name="bloods" id="blood">
                  <option selected>--اختر فصيلة--</option>
                  <option value="+A">+A</option>
                  <option value="+B">+B</option>
                  <option value="+AB">+AB</option>
                  <option value="+O">+O</option>
                  <option value="-A">-A</option>
                  <option value="-B">-B</option>
                  <option value="-AB">-AB</option>
                  <option value="-O">-O</option>
                </select>
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn btn-colored">حفظ</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
