<div class="control">
    <div class="container">
        <ul>
            <li (click)='add()'>
                <span> اضافة عمليه </span>
                <i class="fas fa-plus"></i>
            </li>
        </ul>
    </div>
</div>
<div class="add rtl" *ngIf="addClicked">
    <div class="pop-up">
        <div class="close">
            <img src="../../assets/icons/close_white_27x27.png" alt="close" (click)='desAdd()'>
        </div>
        <div class="header">
            <h3>اضافة عمليه</h3>
        </div>
        <div class="container">
            <div class="form">
                <form action="" [formGroup]='disForm' (ngSubmit)='submitForm(disForm)'>
                    <div class="snigle-input">
                        <label for="">اسم العمليه</label>
                        <input formControlName='name' type="text">
                    </div>
                    <div class="snigle-input">
                        <label for="">  النوع</label>
                        <input formControlName='type' type="text">
                    </div>
                    <div class="snigle-input">
                        <label for=""> التاريخ</label>
                        <input formControlName='date' type="date">
                    </div>
                    <div class="snigle-input o-0">
                        <label for=""> التاريخ</label>
                        <textarea cols="" rows="1"></textarea>
                    </div>


                    <div class="button">
                        <button class="btn btn-colored">حفظ</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="scroll">

    <div @fade class="operations section" *ngFor="let op of mData;let i=index;">
        <div class="banner"></div>
        <div class="m-data">
            <div class="single-data">
                <span> إسم العمليه  </span>
                <span>{{op.name}}</span>
            </div>
            <div class="single-data">
                <span>  النوع  </span>
                <span>{{op.type}}</span>
            </div>
            <div class="single-data">
                <span>   التاريخ  </span>
                <span>{{op.date | date :'short'}}</span>
            </div>
        </div>
        <div class="control">
            <div class="container">
                <ul>
                    <li (click)='delete(op.id)'>
                        <i class="fas fa-trash"></i>
                        <span> حذف  </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="patient-err" *ngIf="error">
    <p> لا يوجد</p>
</div>
